{% load static %}
<!DOCTUPE html>
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/styles_Contacts.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
    <title>CoolerBook</title>
    </head>
    <body>
         <header class="header">
            <div class = "container">
                <div class="header_inner">
                    <div class="logo">
                        <h1>CoolerBook</h1>
                    </div>
                    <nav class="nav">
                        <a class = "nav_link" href="CoolerBook.html" >Главная</a>
                        <a class = "nav_link" href="CoolerBookAboutUs.html">О нас</a>
                        <a class = "nav_link" href="CoolerBookArticle.html" >Статьи</a>
                        <a class = "nav_link" href="CoolerBookContacts.html">Контакты</a>
                        <a class = "nav_link" href="CoolerBookRegister.html">Войти</a>
                    </nav>
                </div>
            </div>
        </header>
    </body>
</html>